[Unit]
Description=My LS service
After=network.target

[Service]
ExecStart=/usr/local/bin/my_ls
WorkingDirectory=/usr/local/bin
Restart=on-failure
User=jk

[Install]
WantedBy=multi-user.target
